name: Clippy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  clippy:
    runs-on: ubuntu-latest

    steps:
      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        id: rust-toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Cache cargo registry and git
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ format('rust-{0}-cargo-{1}', runner.os, hashFiles('Cargo.lock')) }}
          restore-keys: ${{ github.ref_name != github.event.repository.default_branch && format('rust-{0}-cargo-', runner.os) }}

      - name: Cache target
        uses: actions/cache@v5
        with:
          path: target
          key: ${{ format('rust-{0}-target-clippy-{1}-{2}', runner.os, steps.rust-toolchain.outputs.cachekey, hashFiles('Cargo.lock')) }}
          restore-keys: ${{ github.ref_name != github.event.repository.default_branch && format('rust-{0}-target-clippy-', runner.os) }}

      - name: Run tests
        run: cargo clippy --workspace --tests -- -D warnings
