name: rustdoc pages
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  rustdoc:
    name: rustdoc
    runs-on: ubuntu-latest
    steps:
      - name: Set up environment
        run: |
          sudo apt-get update
          sudo apt-get install -y libgtk-3-dev

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        id: rust-toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Cache cargo registry and git
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ format('rust-{0}-cargo-{1}', runner.os, hashFiles('Cargo.lock')) }}
          restore-keys: ${{ github.ref_name != github.event.repository.default_branch && format('rust-{0}-cargo-', runner.os) }}

      - name: Cache target
        uses: actions/cache@v5
        with:
          path: target
          key: ${{ format('rust-{0}-target-rustdoc-{1}-{2}', runner.os, steps.rust-toolchain.outputs.cachekey, hashFiles('Cargo.lock')) }}
          restore-keys: ${{ github.ref_name != github.event.repository.default_branch && format('rust-{0}-target-rustdoc-', runner.os) }}

      - name: Run rustdoc
        run: RUSTDOCFLAGS="--enable-index-page -Zunstable-options" cargo doc --locked --workspace --document-private-items --no-deps -Zrustdoc-map

      - name: Upload rustdoc artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: target/doc

  deploy:
    if: github.event_name == 'push'
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: rustdoc
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
