name: Cargo Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - run: |
          sudo apt-get update
          sudo apt-get install -y mesa-vulkan-drivers libvulkan-dev libgtk-3-dev

      - name: Set up Rust
        id: rust-toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo registry and git
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ format('rust-{0}-cargo-{1}', runner.os, hashFiles('Cargo.lock')) }}
          restore-keys: ${{ github.ref_name != github.event.repository.default_branch && format('rust-{0}-cargo-', runner.os) }}

      - name: Cache target
        uses: actions/cache@v4
        with:
          path: target
          key: ${{ format('rust-{0}-target-test-{1}-{2}', runner.os, steps.rust-toolchain.outputs.cachekey, hashFiles('Cargo.lock')) }}
          restore-keys: ${{ github.ref_name != github.event.repository.default_branch && format('rust-{0}-target-test-', runner.os) }}

      - name: Run tests
        run: cargo test --workspace
