name: Send Current Tokei for Discord

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get latest tokei version
        id: tokei-version
        run: |
          set -euo pipefail

          V=$(curl https://index.crates.io/to/ke/tokei | jq -r 'select(.yanked == false) | .vers' | grep --extended-regexp '^[0-9]+\.[0-9]+\.[0-9]+$' | sort --reverse --version-sort | head --lines=1)
          echo "Latest version of tokei: $V"
          echo "version=$V" >> $GITHUB_OUTPUT

      - name: Cache tokei binary
        id: cache-tokei
        uses: actions/cache@v5
        with:
          key: ${{ runner.os }}-tokei-bin-${{ steps.tokei-version.outputs.version }}
          path: ~/.cargo/bin/tokei

      - name: Set up Rust
        if: steps.cache-tokei.outputs.cache-hit != 'true'
        uses: dtolnay/rust-toolchain@stable

      - name: Install tokei
        if: steps.cache-tokei.outputs.cache-hit != 'true'
        run: cargo install tokei

      - name: Run tokei
        id: tokei_result
        run: ~/.cargo/bin/tokei >> tokei_result.txt

      - name: Send to Discord
        run: |
          curl -X POST -H 'Content-type: application/json' --data "{\"content\": \"[現在](https://github.com/vsml-org/the_vsml_converter/tree/${{ github.sha }})のtokei\\n\`\`\`$(cat tokei_result.txt | tr '\n' '\\' | sed -r 's/\\/\\n/g')\`\`\`\"}" ${{ secrets.DISCORD_TOKEI_WEBHOOK }}
